BE_HOST=127.0.0.1
BE_PORT=3000

DB_CONNECTION=mysql+pymysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_test

DB_LOGGING=False

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=noreply@yourdomain.com
MAIL_PORT=1025
MAIL_SERVER=localhost
MAIL_FROM_NAME="Anti-Spoofing Admin"

REDIS_URL=